<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Не переписываем реальные файлы и папки
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Все остальное идет на index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>
