.Offerta {
    font-family: 'Unbounded';
    padding: 24px;
    a {
        text-decoration: none;
        color: white;
        font-size: 14px;
        background-color: #FF0000;
        border-radius: 24px;
        padding: 12px 24px;
    }
}