@font-face {
    font-family: 'Unbounded';
    src: url('../public/assets/fonts/Unbounded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Unbounded';
    src: url('../public/assets/fonts/Unbounded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Unbounded';
    src: url('../public/assets/fonts/Unbounded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  